/** 主色调*/
$priColor : #1ab192;  /** 绿色 主色*/
$pri2Color : #00b08c;  /** 绿色 主色*/
$secColor : #009372;  /** 绿色 辅色*/
$forColor : #01CEAD;  /** 绿色 辅色**/
$thigColor : #00af8e;  /** 绿色 辅色*/
$fifColor : #EB252E;  /** 红色 辅色**/
$thiColor : #f84c3d;  /** 橙色 辅色*/
$sixColor : #FE9402;  /** 橙色 辅色**/



/****************************************************************************/
$titleColor : #333;  /** 标题文字颜色*/
$floatColor : #555;  /** 楼层文字颜色*/
$textColor : #666;   /** 文字辅色*/
$tipsColor : #999;   /** 标注文字*/
$bColor : #D6D6D6;  /**线框 边框**/
$borderColor : #E7E7E7; /** 分割线 描边*/
$bgColor : #F8F8F8;  /** 背景颜色*/



/******specific color by xm******/
$yellow : #e8be2c;
$pink : #f9839a;
$redyellow : #f84c3d;
$creamcoloured : #ee7700;
$f9:#f9f9f9;
$f6:#f6f6f6;
/* $de:#dedede; */
$liYellow:#ff6327;
$bgYellow:#f1dcbf;
$f1:#f1f1f1;
$ef:#efefef;
$b6:#b6b6b6;
$d:#ddd;


/**********************改版颜色*********/
$green8 : #00af8d;
$red8 : #f84c3d;