

<div class="footNew">
    <div class="copyMain"> <span>联系QQ：2437 809 247 电话：1353 059 0469 Copyright © 中国特网www.tetimes.com版权所有 未经授权禁止使用</span>
        <p>
             <a href='http://www.xjqnpx.com.cn/' target='_blank'>新疆青年网</a> <a href='http://www.shoujibao.cn/news/sxnews/' target='_blank'>手机报</a> <a href='http://www.iot-online.com/' target='_blank'>物联网在线</a> <a href='http://www.eupeople.com.cn/'
                target='_blank'>人民日报欧洲网</a>

                {{each customSetting as item}}
                <a href="/footer/detail/{{item.page_id}}">{{item.title}}</a>
                {{/each}}
        </p>
    </div>
</div>