<link rel="stylesheet" href="/static/src/css/chineseNew/index.css">
<script src="static/js/jquery1.9.1.js" type="text/javascript"></script>
<!-- 公共头部分 begin -->
<div class="topIndex">
  <div class="hdTop">
      <div class="hdTopCon navTopSec">
          <div class="leftNavSec"> <a href="http://www.tetimes.com/" target="_blank" class="linkHome"><i class="iconHomeSec"></i>特网首页</a>
              <div id="art-pic-top-all">

                  <a href='http://www.tetimes.com/society/' class="items"><span>社会</span></a>

                  <a href='http://www.tetimes.com/world/' class="items"><span>国际</span></a>

                  <a href='http://www.tetimes.com/xiaofei/' class="items"><span>消费</span></a>

                  <a href='http://www.tetimes.com/finance/' class="items"><span>财经</span></a>

                  <a href='http://www.tetimes.com/edu/' class="items"><span>教育</span></a>

                  <a href='http://www.tetimes.com/auto/' class="items"><span>汽车</span></a>

                  <a href='http://www.tetimes.com/money/' class="items"><span>金融</span></a>

                  <a href='http://www.tetimes.com/wenhua/' class="items"><span>文化</span></a>

                  <a href='http://www.tetimes.com/travel/' class="items"><span>旅游</span></a>

                  <a href='http://www.tetimes.com/house/' class="items"><span>房产</span></a>

                  <a href='http://www.tetimes.com/sports/' class="items"><span>体育</span></a>

                  <a href='http://www.tetimes.com/life/' class="items"><span>生活</span></a>

                  <a href='http://www.tetimes.com/qiye/' class="items"><span>企业</span></a>

                  <a href='http://news.tetimes.com/' class="items"><span>资讯</span></a>

                  <a href='http://www.tetimes.com/tech/' class="items"><span>科技</span></a>

                  <a href='http://sztqb.tetimes.com/' class="items"><span>粤港澳</span></a>

                  <a href='http://www.tetimes.com/ent/' class="items"><span>娱乐</span></a>

              </div>
          </div>
      </div>
  </div>
</div>