<div class="con_right">
    <div class="r_b" id="r_b_1">
        <h2 class="r_hd"><strong>热点内容</strong></h2>
        <div class="r_bd" id="hqss">
            <ul class="txt_list_d">
                {{each sidebar.hots}}
                <li><a href="{{$value.url}}">{{$value.title}}</a></li>
                {{/each}}            
            </ul>
        </div>
    </div>
    <div class="r_b" id="r_b_2">
        <h2 class="r_hd"><strong>科技</strong><a href="/category/technology" class="more" target="_blank">更多</a></h2>
        <div class="r_bd" id="hqyj">
            <ul class="pic_list_142x96">
                {{each sidebar.technology}}
                {{if $index < 2}}
                <li>
                    <a href="{{$value.url}}" target="_blank">
                        <div class="ppic"><img src="{{$value.img}}" width="142px" height="92" alt="{{$value.title}}"></div>
                        <p class="ptxt">{{$value.title}}</p>
                    </a>
                </li>
                {{/if}}
                {{/each}}
            </ul>
            <ul class="txt_list_d">
                {{each sidebar.technology}}
                {{if $index >= 2}}
                <li><a href="{{$value.url}}">{{$value.title}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="r_b" id="r_b_4">
        <h2 class="r_hd"><strong>社会</strong><a href="/category/social" class="more" target="_blank">更多</a></h2>
        <div class="r_bd" id="hqcj">
            <ul class="pic_list_142x96">
                {{each sidebar.social}}
                {{if $index < 2}}
                <li>
                    <a href="{{$value.url}}" target="_blank">
                        <div class="ppic"><img src="{{$value.img}}" width="142px" height="92" alt="{{$value.title}}"></div>
                        <p class="ptxt">{{$value.title}}</p>
                    </a>
                </li>
                {{/if}}
                {{/each}}
            </ul>
            <ul class="txt_list_d">
                {{each sidebar.social}}
                {{if $index >= 2}}
                <li><a href="{{$value.url}}">{{$value.title}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="r_b" id="r_b_5">
        <h2 class="r_hd"><strong>汽车</strong></h2>
        <div class="r_bd" id="tyly">
            <ul class="pic_list_142x96">
                {{each sidebar.car}}
                {{if $index < 2}}
                <li>
                    <a href="{{$value.url}}" target="_blank">
                        <div class="ppic"><img src="{{$value.img}}" width="142px" height="92" alt="{{$value.title}}"></div>
                        <p class="ptxt">{{$value.title}}</p>
                    </a>
                </li>
                {{/if}}
                {{/each}}
            </ul>
            <ul class="txt_list_d">
                {{each sidebar.car}}
                {{if $index >= 2}}
                <li><a href="{{$value.url}}">{{$value.title}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="r_b" id="r_b_6">
        <h2 class="r_hd"><strong>国际</strong><a href="/category/international" class="more" target="_blank">更多</a></h2>
        <div class="r_bd" id="artHqsc">
            <ul class="pic_list_142x96">
                {{each sidebar.international}}
                {{if $index < 2}}
                <li>
                    <a href="{{$value.url}}" target="_blank">
                        <div class="ppic"><img src="{{$value.img}}" width="142px" height="92" alt="{{$value.title}}"></div>
                        <p class="ptxt">{{$value.title}}</p>
                    </a>
                </li>
                {{/if}}
                {{/each}}
            </ul>
            <ul class="txt_list_d">
                {{each sidebar.international}}
                {{if $index >= 2}}
                <li><a href="{{$value.url}}">{{$value.title}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

</div>