{{include '../base/baseHeader'}}

<div class="content">
	<!-- 左侧频道菜单 -->
	<div class="leftCate">
		<div class="rangeBig"></div>
		<div class="cateItem">
			<h6 class="list-title"><a href="">环球时报社评集</a></h6>
			<ul class="list-inner"></ul>
		</div>
		<div class="cateItem">
			<h6 class="list-title"><a href="">环球时报社评集</a></h6>
			<ul class="list-inner">
				<li><a href="">环聚一堂</a></li>
				<li><a href="">拔一毛工作室</a></li>
			</ul>
		</div>
		<div class="cateItem">
			<h6 class="list-title"><a href="">环球时报社评集</a></h6>
			<ul class="list-inner"></ul>
		</div>
		<div class="cateItem">
			<h6 class="list-title"><a href="">环球时报社评集</a></h6>
			<ul class="list-inner"></ul>
		</div>
		<div class="cateItem">
			<h6 class="list-title"><a href="">环球时报社评集</a></h6>
			<ul class="list-inner"></ul>
		</div>
		<div class="cateItem">
			<h6 class="list-title"><a href="">环球时报社评集</a></h6>
			<ul class="list-inner"></ul>
		</div>
		<div class="cateItem">
			<h6 class="list-title"><a href="">环球时报社评集</a></h6>
			<ul class="list-inner">
				<li><a href="">环聚一堂</a></li>
				<li><a href="">拔一毛工作室</a></li>
			</ul>
		</div>
	</div>
	<!-- 中间内容列表 -->
	<div class="cenCon">
		<div class="rangeBig"></div>
		<!-- 轮播图开始 -->
		<div class="conBanner">
			<div id="demo" class="carousel slide" data-ride="carousel">
				<!-- 指示符 -->
				<ul class="carousel-indicators">
					<li data-target="#demo" data-slide-to="0" class="active"></li>
					<li data-target="#demo" data-slide-to="1"></li>
					<li data-target="#demo" data-slide-to="2"></li>
					<li data-target="#demo" data-slide-to="3"></li>
				</ul>

				<!-- 轮播图片 -->
				<div class="carousel-inner first-banner">
					{{each adverstsList.hots as item i}} {{if i < 4}} <div class="carousel-item {{if i == 0}} active {{/if}}">
						<img src="{{item.img}}" alt="">
						<div class="carousel-caption">
							<h6><a href="{{item.url}}">{{item.title}}</a></h6>
						</div>
					</div>
					{{/if}} {{/each}}
				</div>
				<!-- 左右切换按钮 -->
				<a class="carousel-control-prev" href="#demo" data-slide="prev" title="链接说明">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next" title="链接说明">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
		<!-- 轮播图结束 -->
		<!-- 推荐内容开始 -->
		<div class="m-recommend">
			<ul id="recommend">
				{{each articleList as articleitem}}
				{{if articleitem.img !== ''}}
				<li class="imgitem">
					<a href="{{articleitem.url}}">
						<span class="listPw">
							<img src="{{articleitem.img}}" alt="">
						</span>
						<div class="con-txt">
							<h6>{{articleitem.title}}</h6>
							<div class="con-tool">
								<span class="left">{{articleitem.from}}</span>
								<span class="right">{{articleitem.edit_time}}</span>
							</div>
						</div>
					</a>
				</li>

				{{else}}
				<li class="wzitem">
					<a href="{{articleitem.url}}">
						<div>
							<h6>{{articleitem.title}}</h6>
							<div>
								<span class="left">{{articleitem.from}}</span>
								<span class="right">{{articleitem.edit_time}}</span>
							</div>
						</div>
					</a>
				</li>
				{{/if}}
				{{/each}}
				<!-- <li class="imgitem">
					<a href="">
						<span class="listPw">
							<img src="/static/src/img/20191123094933537.jpg" alt="">
						</span>
						<div class="con-txt">
							<h6>首款自主研制的大型客机（新中国的“第一”）</h6>
							<div class="con-tool">
								<span class="left">人民日报</span>
								<span class="right">2019-11-23 09:48</span>
							</div>
						</div>
					</a>
				</li>	-->
			</ul>
		</div>
		<!-- 推荐内容结束 -->

	</div>
	<!-- 右侧推荐内容 -->
	<div class="rightCon">
		<div class="tody-hot">
			<div class="indexTitle">
				<strong>环球时报社评集</strong>
			</div>
			<ul class="article-item">
				<li class="hiddentitle"><a href="">宁波一小区装64个800万像素摄像头</a></li>
				<li class="hiddentitle"><a href="">宁波一小区装64个800万像素摄像头！业主看完监控叫好：这钱花得值</a></li>
				<li class="hiddentitle"><a href="">宁波一小区装64个800万像素摄像头！业主看完监控叫好：这钱花得值</a></li>
				<li class="hiddentitle"><a href="">宁波一小区装64个800万像素摄像头！业主看完监控叫好：这钱花得值</a></li>
				<li class="hiddentitle"><a href="">宁波一小区装64个800万像素摄像头！业主看完监控叫好：这钱花得值</a></li>
			</ul>
		</div>
		<div class="tody-hot">
			<div class="indexTitle">
				<strong>单仁平集</strong>
			</div>
			<ul class="article-item">
				<li class=""><a href="">单仁平：女大学生溺亡案，应等待官方调查结果</a></li>
				<li class=""><a href="">单仁平：一港人内地被拘留，英国无置喙空间</a></li>
				<li class=""><a href="">单仁平：不冒犯中国消费者是西方公司必修课</a></li>
			</ul>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/static/src/css/css/cate.css">

{{include '../base/baseFooter'}}