
{{include '../base/baseHeader'}}

<div class="inside-focus" style="position:relative; z-index:1;">
	<div class="menber-sign" style="position:absolute;z-index:2; width: 100%; margin-right: 8%; margin-top: 16px;">
				<div class="menber-sign-wrap" style="padding-top: 4%;    margin-bottom: -20px;padding-bottom: 20px;">
					<div class="clearfix">
						<form name="myform" id="myform">
						<div class="forms-table">
						  <div class="form_submit2">
							<img src="/static/src/images/banner_03.png" style="width: 37%; margin: 55px 0 10px 0;">
						  </div>
						  <div class="form_submit3">
							<img src="/static/src/images/banner_07.png" style="width: 44%; margin: 6px 0 10px 0;">
						  </div>
						</div>
						</form>
					</div>
				</div>
	</div>
	<div class="focus-pic"><img src="/static/src/images/banner_01.jpg" alt=""></div>
</div>
<div>
  <h1>
    HelloWorld
  </h1>
</div>