<div class="page8 ">
    <div class="footer">
        <div class="footer-top clearfix">
            <div class="footer-topl fl">
                <h1 class="logo">
                    <a href="/"><img src="/static/src/images/inside_logo.png" /></a>
                </h1>
                <!--<div class="center">
					<a href="/user.html">会员中心</a>
					<a href="/contact/shop.html">实体店</a>
					<a href="/app.html">家装APP</a>
				</div>-->
                <!--<div class="footer-search">-->
                <!--<form action="/index.php?" method="get">-->
                <!--<input type="hidden" name="m" value="Search"/>-->
                <!--<input type="hidden" name="module" value="Dynamic">-->
                <!--<input type="hidden" name="date" value="0">-->
                <!--<input type="hidden" name="l" value="cn"/>-->
                <!--<input type="text" name="keyword" class="text"  placeholder="搜索"/>-->
                <!--<input type="submit" class="submit"/>-->
                <!--</form>-->
                <!--</div>-->
                <div class="footer-share" style="margin-top: 20px;">
                    <div class="bdshare-button-style0-16" style="display:inline-block">
                        <!--  <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a> -->
                        <a title="分享到微信" href="javascript:void(0)" class="bds_weixin"></a>
                        <div class="weixin">
                            <img src="/static/src/images/qrcode_new.png" alt="" />
                            <p>扫一扫关注林氏木业公众号</p>
                            <div class="close">X</div>
                        </div>
                        <a title="林氏木业新浪微博" href="https://weibo.com/1668362257/profile?topnav=1&wvr=6" target="_blank" rel="nofollow" class="bds_tsina" data-cmd="tsina"></a>
                    </div>
                    <!--<a href="https://lshmy.tmall.com/?mm_gxbid=1_1358622_8a9a6a2b2811098fdf372f18b7bbd18b" target="_blank" rel="nofollow" class="tmall"></a>-->
                </div>

            </div>
            <div class="footer-topr fr">
                <!--
                <dl>
                    <dt>
						<i class="line"></i>
						<a href="/style/1000.html">产品中心</a>
					</dt>
                    <dd><a href="/style/1000.html">现代馆</a></dd>
                    <dd><a href="/style/5000.html">欧式馆</a></dd>
                    <dd><a href="/style/3000.html">中式馆</a></dd>
                    <dd><a href="/style/4000.html">北欧馆</a></dd>
                    <dd><a href="/style/6000.html">韩式馆</a></dd>
                    <dd><a href="/style/7000.html">儿童馆</a></dd>
                    <dd><a href="/style/2000.html">田园馆</a></dd>
                    <dd><a href="/style/8000.html">美式馆</a></dd>
				</dl>-->
                <dl>
                    <dt>
						<i class="line"></i>
						<a href="/shop.html">在线商城</a>
					</dt>
                    <dd><a href="https://lshmy.tmall.com/view_shop.htm?spm=a220m.1000858.0.0.6a7d15adQltkLz&shop_id=57301625&rn=e1da8ae9e724025720ca002ec6a738d4">天猫旗舰店</a></dd>
                    <dd><a href="https://lsshyjy.tmall.com/shop/view_shop.htm?spm=a220m.1000858.1000725.3.4dad712atnG1ex&user_number_id=4106857636&rn=da2b07c5d26f56d6fa349e651d56415a">林氏生活研究院</a></dd>
                </dl>
                <dl>
                    <dt>
						<i class="line"></i>
						<a href="/activity/index.html">O2O体验馆</a>
					</dt>

                    <!-- <dd><a href="/activity/index.html">体验馆信息推送</a></dd> -->
                    <dd><a target="_blank" href="/reservation/index.html">体验馆介绍</a></dd>
                    <dd><a target="_blank" href="/reservation/index.html">门店预约</a></dd>

                </dl>
                <dl>
                    <dt>
						<i class="line"></i>
						<a href="/dynamic.html">品牌动态</a>
					</dt>
                    <dd><a href="/dynamic.html">品牌动态</a></dd>
                    <dd><a href="/news/">新闻中心</a></dd>
                    <dd><a href="/movie/">影视广告</a></dd>
                    <dd><a href="/useful.html">心路启程</a></dd>
                </dl>
                <!-- <dl>
                    <dt>
						<i class="line"></i>
						<a href="/dynamic.html">品牌动态</a>
					</dt>
                    <dd><a href="/dynamic.html">最新动态</a></dd>
                    <dd><a href="/useful.html">心路启程</a></dd>
                    <dd><a href="/yishibanke.html">壹时半刻</a></dd>
                </dl>
                <dl>
                    <dt>
						<i class="line"></i>
						<a href="/news/">媒体新闻</a>
					</dt>
                    <dd><a href="/news/">新闻中心</a></dd>
                    <dd><a href="/movie/">影视广告</a></dd>
                </dl> -->
                <dl>
                    <dt>
						<i class="line"></i>
						<a href="/hr/joblist.html">人力资源</a>
					</dt>
                    <dd><a href="/hr/welfare.html">薪酬福利</a></dd>
                    <dd><a href="/hr/team.html">团队文化</a></dd>
                    <dd><a href="/hr/joblist.html">人才招聘</a></dd>
                </dl>
                <dl>
                    <dt>
						<i class="line"></i>
						<a href="/about.html">关于林氏</a>
					</dt>
                    <dd><a href="/about.html#page2">企业简介</a></dd>
                    <dd><a href="/contact.html">联系我们</a></dd>
                </dl>
                <!-- <dl>
                    <dt>
						<i class="line"></i>
						<a href="/contact.html">联系我们</a>
					</dt>
                    <dd><a href="/contact.html">联系方式</a></dd>
                    <dd><a href="http://www.linshimuye.com/store/">O2O体验馆</a></dd>
                    <dd><a href="/contact.html">在线留言</a></dd>
                </dl> -->
            </div>
        </div>
        <div class="footer-down">
            <div class="add">
                <span>地址：广东省佛山市南海区九江镇沙头沙龙路一号铂思广场<a href="http://www.linshimuye.cn/" target="_blank">林氏木业</a>大厦</span>
                <span>客服热线：400-801-0404</span>
            </div>
            <p class="copy">Copyright © 2007-2026 佛山市承林家具有限公司. All Rights Reserved. 粤ICP备15052540号</p>
            <p>
                <script>
                    var _hmt = _hmt || [];
                    (function() {
                        var hm = document.createElement("script");
                        hm.src = "https://hm.baidu.com/hm.js?bcd91db88ddf64f1c96aaf60583a8817";
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(hm, s);

                        $('.bds_weixin').bind('mouseenter', function(event) {
                            $('.weixin').show();
                        });
                        $('.close').click(function(event) {
                            $('.weixin').hide();
                        });
                        $('.weixin').bind('mouseleave', function(event) {
                            $('.weixin').hide();
                        });
                    })();
                </script>
            </p>
        </div>
    </div>
</div>