<div class="header">
    <div class="container active">
        <div class="first">
            <div class="wrap clearfix">
                <h1 class="logo fl">
                    <a href="/"><img src="/static/src/images/logo.png" alt="" /></a>
                </h1>
                <div class="pnav fr clearfix">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <!--<li>
                         <a href="/style/1000.html">家居风格馆</a> 
                        <a href="/style/1000.html">家居风格馆</a></li>-->
                    <li>
                        <!-- <a href="/shop.html">在线商城</a> -->
                        <a href="/shop.html">在线商城</a></li>
                    <li>
                        <!-- <a href="http://www.linshimuye.com/store/" target="_blank">O2O体验馆</a> -->
                        <a href="/activity/index.html">O2O体验馆</a>
                    </li>
                    <li>
                        <a href="/dynamic.html">品牌动态</a></li>
                    <li>
                        <!--<li>
                         <a href="/News/">媒体中心</a> 
                        <a href="/news/">媒体中心</a></li>
                    <li>-->
                        <!-- <a href="/Hr/joblist.html">人力资源</a> -->
                        <a href="/hr/joblist.html">人力资源</a></li>
                    <li>
                        <!-- <a href="/About/">关于林氏</a> -->
                        <a href="/about.html">关于林氏</a></li>
                    <!-- <li><a href="http://www.linshimuye.com/integralMall">会员中心</a></li> -->
                </div>
            </div>
        </div>
        <div class="second">
            <div class="wrap clearfix">
                <h1 class="logo fl">
                    <a href="#"><img src="/static/src/images/logo.png" alt="" /></a>
                </h1>
                <a href="javascript:void(0);" class="fr menu">MENU</a>
            </div>
        </div>
    </div>
</div>
<div class="float-btn">
    <div class="float-title"><a href="https://lshmy.tmall.com/?mm_gxbid=1_1358622_8a9a6a2b2811098fdf372f18b7bbd18b" target="_blank"><span>天猫旗舰店</span></a></div>
    <div class="float-body clearfix">
        <div class="fl float-kefu">
            <div class="kefu">
                <span>客服中心 >> </span>
            </div>
            <a href="javascript:void(0);" class="lstop">
                返回<br />顶部
            </a>
        </div>
        <div class="float-fuwu fr">
            <a href="/about.html" class="shouqian" rel="nofollow">客服中心</a>
            <!--<a href="http://wpa.qq.com/msgrd?v=3&uin=3342202182&site=qq&menu=yes" class="shouqian" target="_blank" rel="nofollow">售前服务</a>-->
            <!--<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E6%9E%97%E6%B0%8F%E6%9C%A8%E4%B8%9A%E5%AE%B6%E5%85%B7%E6%97%97%E8%88%B0%E5%BA%97%3A7&siteid=cntaobao&status=2&charset=utf-8 " class="shouhou" rel="nofollow">售后服务</a>-->
            <a href="/hr/joblist.html" class="zhaopin" rel="nofollow">招聘服务</a>
            <a target="_blank" href="/reservation/index.html" class="yuyue" rel="nofollow">预约体验</a>
            <!--<a href="http://wpa.qq.com/msgrd?v=3&uin=3352526346&site=qq&menu=yes" class="yuyue" rel="nofollow">经销合作</a>-->
            <a href="/contact.html" class="zaixian">在线留言</a>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/static/src/css/global.css" />
<link rel="stylesheet" href="/static/src/css/animaiton.css" type="text/css">
<link href="/static/src/css/pageloader.css" rel="stylesheet" type="text/css" media="all" id="pageloader-css" />
<link rel="stylesheet" type="text/css" href="/static/src/css/owl.carousel.min.css" />
<link rel="stylesheet" type="text/css" href="/static/src/css/index.css" />
<script type="text/javascript" src="/static/src/js/modules/plugins/laydate.js"></script>
<script type="text/javascript" src="/static/src/js/modules/plugins/ss.js"></script>
<script type="text/javascript" src="/static/src/js/modules/plugins/jquery.SuperSlide.2.1.1.js"></script>
<style>
.form_submit2 {text-align: center;cursor: hand;-webkit-animation: fadeInDown 1s ease 0.5s both;}
.form_submit3 {text-align: center;cursor: hand;-webkit-animation: fadeIn 1s linear 1.3s 1 backwards;}
 #form_submit{
		text-align: center;
		cursor: hand;
		-webkit-animation: sc 1.5s infinite;
		-webkit-transform-origin: center center;
	  }


	@-webkit-keyframes sc {
	  0% {
		-webkit-transform: scale(1);
	  }
	  50% {
		-webkit-transform: scale(0.9);
	  }
	  100% {
		-webkit-transform: scale(1);
	  }
	}
.sidebar {display: none;width: 99px;height: 281px;position: fixed;bottom: 360px;right: 5%; _position: absolute;_top: expression(documentElement.scrollTop + 200 + "px");z-index: 500;}
.sidebar ul {margin: 0;padding: 0;}
.sidebar li { margin-bottom: 4px;}
.sidebar li a {font: 15px "方正准圆简体";line-height: 31px;height: 31px;color: #fff;text-align: center;background: #32374A;display: block;border-radius: 7px;}
.sidebar .totop {margin-top: 3px;}
.sidebar .totop a {width: 35px;height: 35px;margin: 20px auto;display: block;background: transparent url(/static/src/images/totop.png) left top no-repeat;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/static/src/images/totop.png,enabled=true,sizingMethod=noscale);}
.inside-focus .play {position: absolute; right: 19%;top: 30%;width: 32%;}
.full-overlay {position: fixed;top: 0;left: 0;z-index: 900;width: 100%;height: 100%;background: #000;opacity: 0.8;filter: alpha(opacity=80);display: none;}
.popWin { position: fixed;z-index: 910;top: 135px;left: 50%;width: 720px;margin-left: -360px;display: none;}
.popWin .icoClose {width: 50px;height: 50px;background: url("/static/src/images/page5_close.png") center center no-repeat;cursor: pointer;position: absolute;right: 0;top: 0;}
.apply-div {width: 720px;height: 540px;}
.clear{clear:both;}
.game163{ position: relative;  overflow: hidden; width: 1198px; }
.game163 .bigImg{ height: 1038px; position: relative;}
.game163 .bigImg li img{ vertical-align:middle; width:1198px; height:1038px;   }
.game163 .bigImg  h4{ font-size: 14px; font-weight: bold; line-height: 33px; height: 33px; padding-right: 30px; overflow: hidden; text-align: left; }
.game163 .bigImg li img.video_1{width:537px;height:307px;position:absolute;top:240px;right:68px;}

.game163 .smallScroll{ height: 47px; margin-bottom: 6px;    width: 950px;    margin: 0 auto;margin-top:30px;}
.game163 .sPrev,.game163 .sNext{ float: left; display: block; width: 42px; height: 87px; text-indent: -9999px;margin-top:30px;  }
.game163 .sPrev{background: url(/static/src/images/yishi_left.png) no-repeat;}
.game163 .sNext{background: url(/static/src/images/yishi_right.png) no-repeat;}

.game163 .smallImg{ float:left;  margin: 0 6px; display:inline; width: 830px; overflow: hidden;margin-left:20px;}
.game163 .smallImg ul{ height:200px;  width: 9999px; overflow: hidden; }
.game163 .smallImg li{ float: left; padding: 0 4px 0 0; width:191px; cursor:pointer;  display: inline; margin-right:10px; opacity: 0.4;  }
.game163 .smallImg img{ border: 1px solid #dcdddd; width:191px; height:122px;  }
.game163 .smallImg .on img{ border-color: #1e50a2;}
.game163 .smallImg .on{    opacity: 1;}
.game163 .smallImg p{ text-align:center; font-size:12px; margin-top: 3px;}

.game163 .pageState{ position: absolute; top: 235px; right: 5px; font-family: "Times New Roman", serif; letter-spacing: 1px;}
.game163 .pageState span{ color: #f00; font-size: 16px;}
</style>