<!-- 左悬浮框 -->
<div class="float-btn f_nav">
	<div class="float-body clearfix">
		<div class="fl float-kefu">
			<div class="orther">
				<span>进入其他馆 >> </span>
			</div>

		</div>
		<div class="float-pro fr">
			<a href="/style/1000.html" class="xiandai">现代馆</a>
			<a href="/style/5000.html" class="oushi">欧式馆</a>
			<a href="/style/3000.html" class="zhongshi">中式馆</a>
			<a href="/style/4000.html" class="beiou">北欧馆</a>
			<a href="/style/6000.html" class="hanshi">韩式馆</a>
			<a href="/style/7000.html" class="ertong">儿童馆</a>
			<a href="/style/2000.html" class="tianyuan">田园馆</a>
			<a href="/style/8000.html" class="meishi">美式馆</a>
		</div>
	</div>
</div>