<!-- 头部 -->
<div class="mo-header ">
    <h1 class="logo">
        <a href="/"><img src="/static/src/wap/images/logo.png" alt="" /></a>
    </h1>
    <div class="menu"></div>
</div>
<!-- 弹窗 -->
<div class="index-layout wrap">
    <div class="mo-header ">
        <h1 class="logo">
            <a href="/"><img src="/static/src/wap/images/logo.png" alt="" /></a>
        </h1>
        <div class="menu_close"></div>
    </div>
    <!-- 导航开始 -->
    <div class="mo-navbar">
        <ul class="mo-nav">
            <li class="a_index">
                <a href="/wapindex.html" class="head">首  页</a>
            </li>
            <li class="nav-style">
                <a href="javascript:void(0);" class="head">产品风格馆</a>
                <div class="body clearfix">
                    <a href="/wapstyle/1000.html" class="body_li">
                        <img src="/static/src/wap/images/nav_ico1.png" alt="" />
                        <p>现代馆</p>
                    </a>
                    <a href="/wapstyle/2000.html" class="body_li">
                        <img src="/static/src/wap/images/nav_ico2.png" alt="" />
                        <p>乡村馆</p>
                    </a>
                    <a href="/wapstyle/3000.html" class="body_li">
                        <img src="/static/src/wap/images/nav_ico4.png" alt="" />
                        <p>北欧馆</p>
                    </a>
                    <a href="/wapstyle/4000.html" class="body_li">
                        <img src="/static/src/wap/images/nav_ico5.png" alt="" />
                        <p>韩式馆</p>
                    </a>
                    <a href="/wapstyle/5000.html" class="body_li">
                        <img src="/static/src/wap/images/nav_ico6.png" alt="" />
                        <p>美式馆</p>
                    </a>
                    <a href="/wapstyle/6000.html" class="body_li">
                        <img src="/static/src/wap/images/nav_ico7.png" alt="" />
                        <p>欧式馆</p>
                    </a>
                    <a href="/wapstyle/7000.html" class="body_li">
                        <img src="/static/src/wap/images/nav_ico8.png" alt="" />
                        <p>中式馆</p>
                    </a>
                    <a href="/wapstyle/8000.html" class="body_li">
                        <img src="/static/src/wap/images/nav_ico3.png" alt="" />
                        <p>儿童馆</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="/wapReservation/" class="head">全国体验馆</a>
            </li>
            <li>
                <a href="/wapNews/" class="head">品牌资讯</a>
            </li>
            <li>
                <a href="/waphr/joblist.html" class="head">加入我们</a>
            </li>
            <li class="nav-about">
                <a href="javascript:void(0);" class="head">关于林氏</a>
                <div class="body">
                    <a href="/about.html#page2" target="_banlk">企业简介</a>
                    <a href="/about.html#page3" target="_banlk">企业实力</a>
                    <a href="/about.html#page4" target="_banlk">品牌大事记</a>
                </div>
            </li>
        </ul>
        <div class="nav-bottom">
            <div class="nav-tips">
                <a href="/Contact/">联系我们</a> |
                <!-- <a href="http://www.linshimuye.com/apps/index.html">家装APP</a> -->
            </div>

        </div>
    </div>
</div>
<!-- 导航结束 -->