<div class="footer">
    <div class="footer-icon">
        <a href="weixin://profile/gh_34bd692a9835" target="_blank" class="icon">
            <i class="iconfont"></i>
            <p>官方微信</p>
        </a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=3342202182&site=qq&menu=yes" target="_blank" class="icon service">
            <i class="iconfont"></i>
            <p>客服QQ</p>
        </a>
        <a href="http://weibo.com/linshimuye" target="_blank" class="icon">
            <i class="iconfont"></i>
            <p>官方微博</p>
        </a>
    </div>
    <div class="footer-state">
        <p>客服热线：400-801-0404</p>
        <p>地址：广东省佛山市南海区九江镇</p>
        <p>沙头沙龙路一号铂思广场林氏木业大厦</p>
    </div>
    <div class="footer-copy">
        <p>Copyright © 2007-2026 佛山市承林家具有限公司. </p>
        <p>All Rights Reserved.  粤ICP备15052540号</p>
        <p>
            <script>
                var _hmt = _hmt || [];
                (function() {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?bcd91db88ddf64f1c96aaf60583a8817";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
        </p>
    </div>
</div>
<!-- 返回顶部 -->
<div class="public_top"></div>