{{include '../share/listHeader'}}
<div class="container">
    <!-- 导航 -->
    <div class="nav">
        <a class="channel_logo" href="http://www.tetimes.com/" target="_blank"> <img
                src="/static/src/images/chineseNew/logo_channel_275.png" height="48"> </a>
        <div class="nav_left"><a href='http://www.tetimes.com/'>特时代</a> > <a href='http://www.tetimes.com/qiye/'>企业</a>
            > </div>
    </div>
    <!-- /end 导航 -->
    <div class="con">
        <div class="con_left">
            <!-- 新闻内容 -->
            <div class="l_a">


                <!-- 相关新闻 -->
                <div class="la_xiangguan_news">
                    <h3 class="la_xiangguan_hd"> <strong>最新文章</strong> </h3>
                    <ul>
                        {{each articleList as item }}
                        <li> <a href="{{item.url}}">{{item.title}}</a><em>{{item.edit_time}}</em> </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="page" id="pages">
                    <ul>
                        <li>首页</li>
                        <li class="thisclass">1</li>
                        <li><a href='list_11_2.html'>2</a></li>
                        <li><a href='list_11_3.html'>3</a></li>
                        <li><a href='list_11_4.html'>4</a></li>
                        <li><a href='list_11_5.html'>5</a></li>
                        <li><a href='list_11_6.html'>6</a></li>
                        <li><a href='list_11_7.html'>7</a></li>
                        <li><a href='list_11_8.html'>8</a></li>
                        <li><a href='list_11_9.html'>9</a></li>
                        <li><a href='list_11_10.html'>10</a></li>
                        <li><a href='list_11_11.html'>11</a></li>
                        <li><a href='list_11_2.html'>下一页</a></li>
                        <li><a href='list_11_93.html'>末页</a></li>
                        <li><select name='sldd' style='width:42px'
                                onchange='location.href=this.options[this.selectedIndex].value;'>
                                <option value='list_11_1.html' selected>1</option>
                                <option value='list_11_2.html'>2</option>
                                <option value='list_11_3.html'>3</option>
                                <option value='list_11_4.html'>4</option>
                                <option value='list_11_5.html'>5</option>
                                <option value='list_11_6.html'>6</option>
                                <option value='list_11_7.html'>7</option>
                                <option value='list_11_8.html'>8</option>
                                <option value='list_11_9.html'>9</option>
                                <option value='list_11_10.html'>10</option>
                                <option value='list_11_11.html'>11</option>
                                <option value='list_11_12.html'>12</option>
                                <option value='list_11_13.html'>13</option>
                                <option value='list_11_14.html'>14</option>
                                <option value='list_11_15.html'>15</option>
                                <option value='list_11_16.html'>16</option>
                                <option value='list_11_17.html'>17</option>
                                <option value='list_11_18.html'>18</option>
                                <option value='list_11_19.html'>19</option>
                                <option value='list_11_20.html'>20</option>
                                <option value='list_11_21.html'>21</option>
                                <option value='list_11_22.html'>22</option>
                                <option value='list_11_23.html'>23</option>
                                <option value='list_11_24.html'>24</option>
                                <option value='list_11_25.html'>25</option>
                                <option value='list_11_26.html'>26</option>
                                <option value='list_11_27.html'>27</option>
                                <option value='list_11_28.html'>28</option>
                                <option value='list_11_29.html'>29</option>
                                <option value='list_11_30.html'>30</option>
                                <option value='list_11_31.html'>31</option>
                                <option value='list_11_32.html'>32</option>
                                <option value='list_11_33.html'>33</option>
                                <option value='list_11_34.html'>34</option>
                                <option value='list_11_35.html'>35</option>
                                <option value='list_11_36.html'>36</option>
                                <option value='list_11_37.html'>37</option>
                                <option value='list_11_38.html'>38</option>
                                <option value='list_11_39.html'>39</option>
                                <option value='list_11_40.html'>40</option>
                                <option value='list_11_41.html'>41</option>
                                <option value='list_11_42.html'>42</option>
                                <option value='list_11_43.html'>43</option>
                                <option value='list_11_44.html'>44</option>
                                <option value='list_11_45.html'>45</option>
                                <option value='list_11_46.html'>46</option>
                                <option value='list_11_47.html'>47</option>
                                <option value='list_11_48.html'>48</option>
                                <option value='list_11_49.html'>49</option>
                                <option value='list_11_50.html'>50</option>
                                <option value='list_11_51.html'>51</option>
                                <option value='list_11_52.html'>52</option>
                                <option value='list_11_53.html'>53</option>
                                <option value='list_11_54.html'>54</option>
                                <option value='list_11_55.html'>55</option>
                                <option value='list_11_56.html'>56</option>
                                <option value='list_11_57.html'>57</option>
                                <option value='list_11_58.html'>58</option>
                                <option value='list_11_59.html'>59</option>
                                <option value='list_11_60.html'>60</option>
                                <option value='list_11_61.html'>61</option>
                                <option value='list_11_62.html'>62</option>
                                <option value='list_11_63.html'>63</option>
                                <option value='list_11_64.html'>64</option>
                                <option value='list_11_65.html'>65</option>
                                <option value='list_11_66.html'>66</option>
                                <option value='list_11_67.html'>67</option>
                                <option value='list_11_68.html'>68</option>
                                <option value='list_11_69.html'>69</option>
                                <option value='list_11_70.html'>70</option>
                                <option value='list_11_71.html'>71</option>
                                <option value='list_11_72.html'>72</option>
                                <option value='list_11_73.html'>73</option>
                                <option value='list_11_74.html'>74</option>
                                <option value='list_11_75.html'>75</option>
                                <option value='list_11_76.html'>76</option>
                                <option value='list_11_77.html'>77</option>
                                <option value='list_11_78.html'>78</option>
                                <option value='list_11_79.html'>79</option>
                                <option value='list_11_80.html'>80</option>
                                <option value='list_11_81.html'>81</option>
                                <option value='list_11_82.html'>82</option>
                                <option value='list_11_83.html'>83</option>
                                <option value='list_11_84.html'>84</option>
                                <option value='list_11_85.html'>85</option>
                                <option value='list_11_86.html'>86</option>
                                <option value='list_11_87.html'>87</option>
                                <option value='list_11_88.html'>88</option>
                                <option value='list_11_89.html'>89</option>
                                <option value='list_11_90.html'>90</option>
                                <option value='list_11_91.html'>91</option>
                                <option value='list_11_92.html'>92</option>
                                <option value='list_11_93.html'>93</option>
                            </select></li>
                        <li><span class="pageinfo">共 <strong>93</strong>页<strong>2776</strong>条</span></li>

                    </ul>
                </div>
            </div>

        </div>
        <!-- 右侧内容 -->
        <div class="con_right">
            <div class="r_b" id="r_b_1">
                <h2 class="r_hd"><strong>热点内容</strong></h2>
                <div class="r_bd" id="hqss">
                    <ul class="txt_list_d">
                        {{each hotArticle.hots as item}}
                        <li><a
                                href="{{item.url}}">{{item.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="r_b" id="r_b_2">
                <h2 class="r_hd"><strong>企业</strong><a href="/qiye/" class="more" target="_blank">更多</a></h2>
                <div class="r_bd" id="hqyj">
                    <ul class="pic_list_142x96">

                        <li>
                            <a href="http://www.tetimes.com/qiye/20191219/29460.html" target="_blank">
                                <div class="ppic"><img src="/static/src/images/chineseNew/5_121916041a932.jpg"
                                        width="142px" height="92" alt="力克举办2019越南服"></div>
                                <p class="ptxt">力克举办2019越南服</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.tetimes.com/qiye/20191219/29456.html" target="_blank">
                                <div class="ppic"><img src="/static/src/images/chineseNew/5_121915592e237.jpg"
                                        width="142px" height="92" alt="企鹅杏仁集团构建"></div>
                                <p class="ptxt">企鹅杏仁集团构建</p>
                            </a>
                        </li>

                    </ul>
                    <ul class="txt_list_d">
                        <li><a href="http://www.tetimes.com/qiye/20191219/29460.html">力克举办2019越南服装智慧生产研讨会，以精益管理推进</a>
                        </li>
                        <li><a href="http://www.tetimes.com/qiye/20191219/29456.html">企鹅杏仁集团构建深圳城市模型，全面布局基层医疗</a></li>
                        <li><a href="http://www.tetimes.com/qiye/20191219/29455.html">文殊企业创客论坛暨中国好项目启动仪式在浙江省人民</a></li>
                        <li><a href="http://www.tetimes.com/qiye/20191219/29454.html">全民共识应邀出席2019-2020 WEC世界创业大会</a>
                        </li>
                        <li><a href="http://www.tetimes.com/qiye/20191218/29214.html">26年牛排品牌全面转战外卖“红海” 美团外卖四大方案</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="r_b" id="r_b_4">
                <h2 class="r_hd"><strong>社会</strong><a href="/society/" class="more" target="_blank">更多</a></h2>
                <div class="r_bd" id="hqcj">
                    <ul class="pic_list_142x96">
                        <li>
                            <a href="http://www.tetimes.com/society/20191219/29429.html" target="_blank">
                                <div class="ppic"><img src="/static/src/images/chineseNew/8_121914322gq0.jpg"
                                        width="142px" height="92" alt="广西4条高铁公网升"></div>
                                <p class="ptxt">广西4条高铁公网升</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.tetimes.com/society/20191219/29362.html" target="_blank">
                                <div class="ppic"><img src="/static/src/images/chineseNew/8_121z95932l23.jpg"
                                        width="142px" height="92" alt="资阳市临空经济区"></div>
                                <p class="ptxt">资阳市临空经济区</p>
                            </a>
                        </li>

                    </ul>
                    <ul class="txt_list_d">
                        <li><a href="http://www.tetimes.com/society/20191219/29525.html">今年前11个月北京空气质量优良天215天 重污染3天</a>
                        </li>
                        <li><a href="http://www.tetimes.com/society/20191219/29491.html">沪苏湖铁路环评获批 线路正线全长163.708公里</a>
                        </li>
                        <li><a href="http://www.tetimes.com/society/20191219/29481.html">苏南硕放机场新停机坪计划明年1月30日正式启用 总投资</a>
                        </li>
                        <li><a href="http://www.tetimes.com/society/20191219/29475.html">太仓港疏港铁路专用线开工 正线全长约13.1公里</a>
                        </li>
                        <li><a href="http://www.tetimes.com/society/20191219/29464.html">连云港市域列车5个客运站现有公交线网布局和配套接驳</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="r_b" id="r_b_5">
                <h2 class="r_hd"><strong>汽车</strong></h2>
                <div class="r_bd" id="tyly">
                    <ul class="pic_list_142x96">
                        <li>
                            <a href="http://www.tetimes.com/auto/20191219/29452.html" target="_blank">
                                <div class="ppic"><img src="/static/src/images/chineseNew/8_1219154552h37.jpg"
                                        width="142px" height="92" alt="一汽丰田奕泽E擎动"></div>
                                <p class="ptxt">一汽丰田奕泽E擎动</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.tetimes.com/auto/20191219/29450.html" target="_blank">
                                <div class="ppic"><img src="/static/src/images/chineseNew/8_1219154459b61.jpg"
                                        width="142px" height="92" alt="Jeep自由侠PHEV版明"></div>
                                <p class="ptxt">Jeep自由侠PHEV版明</p>
                            </a>
                        </li>


                    </ul>
                    <ul class="txt_list_d">
                        <li><a href="http://www.tetimes.com/auto/20191219/29470.html">签下1500台大单！江铃汽车与11家邮政快递企业签订全面</a>
                        </li>
                        <li><a href="http://www.tetimes.com/auto/20191219/29452.html">一汽丰田奕泽E擎动力信息曝光 最高车速可达160km/h</a>
                        </li>
                        <li><a href="http://www.tetimes.com/auto/20191219/29450.html">Jeep自由侠PHEV版明年上市
                                最高时速约130.35km/h</a></li>
                        <li><a href="http://www.tetimes.com/auto/20191219/29445.html">法拉利F8 Spider正式上市 共推出一款车型</a></li>
                        <li><a href="http://www.tetimes.com/auto/20191219/29444.html">纳智捷URX正式上市 指导价为14.36万元-15.56万元</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="r_b" id="r_b_6">
                <h2 class="r_hd"><strong>国际</strong><a href="/guoji/" class="more" target="_blank">更多</a></h2>
                <div class="r_bd" id="artHqsc">
                    <ul class="pic_list_142x96">
                        <li>
                            <a href="http://www.tetimes.com/world/20191218/29323.html" target="_blank">
                                <div class="ppic"><img src="/static/src/images/chineseNew/8_121r244319120.jpg"
                                        width="142px" height="92" alt="北京时间12月18日"></div>
                                <p class="ptxt">北京时间12月18日</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.tetimes.com/world/20191218/29056.html" target="_blank">
                                <div class="ppic"><img src="/static/src/images/chineseNew/8_121q1024053d.jpg"
                                        width="142px" height="92" alt="北京时间12月18日"></div>
                                <p class="ptxt">北京时间12月18日</p>
                            </a>
                        </li>

                    </ul>
                    <ul class="txt_list_d">
                        <li><a href="http://www.tetimes.com/world/20191219/29410.html">一架日本全日空波音767客机因引擎故障在日本福冈机场</a>
                        </li>
                        <li><a
                                href="http://www.tetimes.com/world/20191218/29323.html">北京时间12月18日20时19分斐济南部海域发生5.3级地震</a>
                        </li>
                        <li><a
                                href="http://www.tetimes.com/world/20191218/29056.html">北京时间12月18日9时56分新西兰附近海域发生5.9级地震</a>
                        </li>
                        <li><a href="http://www.tetimes.com/world/20191217/28829.html">波音公司“星际客机”将于12月20日首飞 目的地是国际</a>
                        </li>
                        <li><a
                                href="http://www.tetimes.com/world/20191217/28716.html">北京时间12月17日10时04分斐济群岛南部海域发生5.1级地</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <!-- /end 右侧内容 -->
    </div>
</div>
{{include '../share/listFooter'}}
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>