
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-delay:0.2s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated1 {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:0.5s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated1-1 {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay:1s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated1-2 {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated1-3 {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay:2s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated1-4 {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay:2.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
	0% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
50% {
	opacity:1
}
}@keyframes zoomIn {
	0% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	-ms-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
50% {
	opacity:1
}
}.zoomIn {
	-webkit-animation-name:zoomIn;
	animation-name:zoomIn
}
@-webkit-keyframes zoomIna {
	0% {
	opacity:0;
	-webkit-transform:scale3d(1.1,1.1,1.1);
	transform:scale3d(1.1,1.1,1.1)
}
50% {
	opacity:1
}
}@keyframes zoomIna {
	0% {
	opacity:0;
	-webkit-transform:scale3d(1.1,1.1,1.1);
	-ms-transform:scale3d(1.1,1.1,1.1);
	transform:scale3d(1.1,1.1,1.1)
}
50% {
	opacity:1
}
}.zoomIna {
	-webkit-animation-name:zoomIna;
	animation-name:zoomIna;
}
@-webkit-keyframes fadeInDown {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,-20%,0);
	transform:translate3d(0,-20%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes fadeInDown {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,-20%,0);
	-ms-transform:translate3d(0,-20%,0);
	transform:translate3d(0,-20%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
}
}.fadeInDown {
	-webkit-animation-name:fadeInDown;
	animation-name:fadeInDown
}
@-webkit-keyframes fadeInLeft {
	0% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes fadeInLeft {
	0% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	-ms-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
}
}.fadeInLeft {
	-webkit-animation-name:fadeInLeft;
	animation-name:fadeInLeft
}
@-webkit-keyframes fadeIn {
	0% {
	opacity:0;
}
100% {
	opacity:1;
}
}@keyframes fadeIn {
	0% {
	opacity:0;
}
100% {
	opacity:1;
}
}.fadeIn {
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn
}
@-webkit-keyframes fadeInRight {
	0% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes fadeInRight {
	0% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	-ms-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
}
}.fadeInRight {
	-webkit-animation-name:fadeInRight;
	animation-name:fadeInRight
}
@-webkit-keyframes growthLineY{
	0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center top;
    transform-origin: center top;
	  }
	  100% {
	    opacity: 1;
	    -webkit-transform-origin: center top;
	    transform-origin: center top;
	  }
}
@keyframes growthLineY{
	0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center top;
    transform-origin: center top;
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: center top;
    transform-origin: center top;
  }
}.growthLineY {
	-webkit-animation-name:growthLineY;
	animation-name:growthLineY;
}