{{include '../share/artHeader'}}
    <!-- 公共头部分 begin -->    <div class="container">
        <div class="con">
            <div class="con_left">
                <!-- 新闻内容 -->
                <div class="l_a">
                    <h1 class="tle">{{articleDetail.article.title}}</h1>
                    <div class="la_tool">
                        <span class="la_t_a">{{articleDetail.article.edit_time}}  来源 : {{articleDetail.article.from}}</span>
                    </div>

                    <!-- 图集区域 begin -->
                    <!-- 图集区域 end -->

                    <div class="la_con">
                        {{#articleDetail.article.content}}

                    </div>

                    <!-- 相关新闻 -->
                    <div class="la_xiangguan_news">
                        <h3 class="la_xiangguan_hd"> <strong>相关新闻</strong> </h3>
                        <ul>
                            {{each articleDetail.relatedArticals}}
                            <li><a href="{{$value.url}}">{{$value.title}}</a>
                                <em>{{$value.edit_time}}</em>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                </div>

            </div>
            {{include '../share/rightSide'}}
            <!-- /end 右侧内容 -->
        </div>
    </div>
    {{include '../share/baseFooter'}}