<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <title>连江将添城市体育综合体 占地面积约350亩_特时代</title>
    <meta name="keywords" content="连江,将,添,城市,体育,综合体,占地,面积约,据," />
    <meta name="description" content="据福州晚报报道 前日，连江LYB（李永波）城市体育综合体项目合作协议签约仪式，在连江海联大厦举行，李永波之子李根出席此次签约仪式。 据了解，该项目落户贵安，计划投资20亿元" />
    <link rel="stylesheet" href="/static/src/css/chineseNew/index.css">
    <meta http-equiv="mobile-agent" content="format=xhtml;url=http://www.tetimes.com/m/view.php?aid=29338">
    <script type="text/javascript">
        if (window.location.toString().indexOf('pref=padindex') != -1) {} else {
            if (/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))) {
                if (window.location.href.indexOf("?mobile") < 0) {
                    try {
                        if (/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                            window.location.href = "http://www.tetimes.com/m/view.php?aid=29338";
                        } else if (/iPad/i.test(navigator.userAgent)) {} else {}
                    } catch (e) {}
                }
            }
        }
    </script>
    <script src="static/js/jquery1.9.1.js" type="text/javascript"></script>
    <link href="/favicon.ico" rel="shortcut icon">
</head>

<body data-id="" data-pid="">
    <!-- 公共头部分 begin -->
    <div class="topIndex">
        <div class="hdTop">
            <div class="hdTopCon navTopSec">
                <div class="leftNavSec"> <a href="http://www.tetimes.com/" target="_blank" class="linkHome"><i class="iconHomeSec"></i>特网首页</a>
                    <div id="art-pic-top-all">

                        <a href='http://www.tetimes.com/society/' class="items"><span>社会</span></a>

                        <a href='http://www.tetimes.com/world/' class="items"><span>国际</span></a>

                        <a href='http://www.tetimes.com/xiaofei/' class="items"><span>消费</span></a>

                        <a href='http://www.tetimes.com/finance/' class="items"><span>财经</span></a>

                        <a href='http://www.tetimes.com/edu/' class="items"><span>教育</span></a>

                        <a href='http://www.tetimes.com/auto/' class="items"><span>汽车</span></a>

                        <a href='http://www.tetimes.com/money/' class="items"><span>金融</span></a>

                        <a href='http://www.tetimes.com/wenhua/' class="items"><span>文化</span></a>

                        <a href='http://www.tetimes.com/travel/' class="items"><span>旅游</span></a>

                        <a href='http://www.tetimes.com/house/' class="items"><span>房产</span></a>

                        <a href='http://www.tetimes.com/sports/' class="items"><span>体育</span></a>

                        <a href='http://www.tetimes.com/life/' class="items"><span>生活</span></a>

                        <a href='http://www.tetimes.com/qiye/' class="items"><span>企业</span></a>

                        <a href='http://news.tetimes.com/' class="items"><span>资讯</span></a>

                        <a href='http://www.tetimes.com/tech/' class="items"><span>科技</span></a>

                        <a href='http://sztqb.tetimes.com/' class="items"><span>粤港澳</span></a>

                        <a href='http://www.tetimes.com/ent/' class="items"><span>娱乐</span></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- 导航 -->
        <div class="nav">
            <a class="channel_logo" href="http://www.tetimes.com/" target="_blank"> <img src="/static/src/images/chineseNew/logo_channel_275.png" height="48"> </a>
            <div class="nav_left"> <a href='http://www.tetimes.com/'>特时代</a> > <a href='http://www.tetimes.com/sports/'>体育</a> > <b>正文</b> </div>
        </div>
        <!-- /end 导航 -->
        <div class="con">
            <div class="con_left">
                <!-- 新闻内容 -->
                <div class="l_a">
                    <h1 class="tle">连江将添城市体育综合体 占地面积约350亩</h1>
                    <div class="la_tool">
                        <span class="la_t_a">2019-12-19 09:14   来源 : 福州晚报</span>
                    </div>

                    <!-- 图集区域 begin -->
                    <!-- 图集区域 end -->

                    <div class="la_con">
                        <p>
                            据福州晚报报道 &nbsp;前日，连江LYB（李永波）城市体育综合体项目合作协议签约仪式，在连江海联大厦举行，李永波之子李根出席此次签约仪式。</p>
                        <p>
                            据了解，该项目落户贵安，计划投资20亿元，占地面积约350亩。该项目将整合中国体育冠军资源及关联产业，以体育场馆运营为引擎，定期举办大型赛事活动，带动周边发展。</p>
                        <p>
                            根据规划，该项目共分为城市体育综合馆、市民体育公园、运动康复理疗中心、城市运动综合体、体育商业中心等多个区块。其中，城市体育综合馆将导入中国奥运冠军资源，打造奥运俱乐部、青训基地、体育名人堂、LYB国际培训中心、智能体育等；市民体育公园将引入户外拓展项目，包括无动力乐园、极限营地、慢步绿道、创意市集等；城市运动综合体将涵盖室内壁球馆、篮球馆、击剑体验馆、高尔夫训练馆、智能健身馆等多元化场馆。</p>
                        <p>
                            &ldquo;项目正式运营后，可为市民提供多元化的竞技体育、体育文化培训、体育训练等服务，对提高连江体育运动水平，推动连江经济社会全面发展起到积极作用。&rdquo;李根说。</p>
                        <p>
                            据了解，连江贵安拥有丰富的温泉资源，距离福州市区不过半个小时的车程，环境优美、交通便利，是一块投资兴业的热土。（记者 郑瑞洋 通讯员 叶建隆）</p>


                    </div>

                    <!-- 相关新闻 -->
                    <div class="la_xiangguan_news">
                        <h3 class="la_xiangguan_hd"> <strong>相关新闻</strong> </h3>
                        <ul>
                            <li><a href="http://www.tetimes.com/sports/20191219/29521.html">2019-2020WCBA联赛常规赛新疆女篮主场胜山西女篮</a>
                                <em>2019-12-19 17:47:20</em>
                            </li>
                            <li><a href="http://www.tetimes.com/sports/20191219/29507.html">中国女排超级联赛八强战战罢 四强赛悬念多</a>
                                <em>2019-12-19 17:19:45</em>
                            </li>
                            <li><a href="http://www.tetimes.com/sports/20191219/29469.html">淮安市第一届民俗运动会开幕 确定14个项目</a>
                                <em>2019-12-19 16:15:13</em>
                            </li>
                            <li><a href="http://www.tetimes.com/sports/20191219/29359.html">2019世界跆拳道大满贯冠军系列赛在无锡太湖国际博览中心开赛</a>
                                <em>2019-12-19 09:54:05</em>
                            </li>
                            <li><a href="http://www.tetimes.com/sports/20191219/29338.html">连江将添城市体育综合体 占地面积约350亩</a>
                                <em>2019-12-19 09:14:14</em>
                            </li>
                            <li><a href="http://www.tetimes.com/sports/20191218/29202.html">中超观赛人次同比增长12.1% 达到15.99亿人次</a>
                                <em>2019-12-18 17:16:42</em>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>
            <div class="con_right">
                <div class="r_b" id="r_b_1">
                    <h2 class="r_hd"><strong>热点内容</strong></h2>
                    <div class="r_bd" id="hqss">
                        <ul class="txt_list_d">
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29527.html">linlang267免费网络小说《都市圣医》主角柳如烟/郭义第</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29526.html">热销新书Suqyd666崮w《都市之至尊战神》主角周子扬/宁轩</a></li>
                            <li><a href="http://www.tetimes.com/society/20191219/29525.html">今年前11个月北京空气质量优良天215天 重污染3天</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29524.html">小说阅读Suqyd666嗫X《都市之至尊战神》主角周子扬/宁轩</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29523.html">畅销推荐书小碧shuxb4《蜜爱100分：不良鲜妻有点甜》主</a></li>
                            <li><a href="http://www.tetimes.com/sports/20191219/29521.html">2019-2020WCBA联赛常规赛新疆女篮主场胜山西女篮</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29522.html">全新力荐书小碧shuxb4《蜜爱100分：不良鲜妻有点甜》主</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29520.html">全新力荐书小碧shuxb4《蜜爱100分：不良鲜妻有点甜》主</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29519.html">热门新书mxjyd01《夫人，你马甲又掉了！》主角秦苒04</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29518.html">mxjyd01都市言情小说《夫人，你马甲又掉了！》主角秦苒</a></li>
                            <li><a href="http://www.tetimes.com/edu/20191219/29517.html">2020全国硕士研究生考试周六开考 今年安庆市参考人数</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29516.html">免费小说yuexiangshushe/al/c《都市无敌战神》主角林北第</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29515.html">hhdw1112完整版免费畅读《都市无敌战神》主角林北第4</a></li>
                            <li><a href="http://www.tetimes.com/money/20191219/29514.html">P2P倒计时开始，投资别走“下坡路”</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29513.html">热门新书推荐zkkqwk/id《都市极品医神》主角叶辰第35章</a></li>
                            <li><a href="http://www.tetimes.com/edu/20191219/29512.html">头条|坚守本心的80后资本少帅陈俊州</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29511.html">ZMTW99玄幻小说免费阅读《都市极品医神》主角叶辰第</a></li>
                            <li><a href="http://www.tetimes.com/ent/dsj/20191219/29510.html">电视剧《大明风华》节奏紧凑剧情持续高能 首播获超高</a></li>
                            <li><a href="http://www.tetimes.com/wenyu/20191219/29509.html">正版全文全免xcyy6600《豪门继承人》主角黎南第025章恭</a></li>
                            <li><a href="http://www.tetimes.com/sports/20191219/29507.html">中国女排超级联赛八强战战罢 四强赛悬念多</a></li>

                        </ul>
                    </div>
                </div>
                <div class="r_b" id="r_b_2">
                    <h2 class="r_hd"><strong>企业</strong><a href="/qiye/" class="more" target="_blank">更多</a></h2>
                    <div class="r_bd" id="hqyj">
                        <ul class="pic_list_142x96">

                            <li>
                                <a href="http://www.tetimes.com/qiye/20191219/29460.html" target="_blank">
                                    <div class="ppic"><img src="/static/src/images/chineseNew/5_121916041a932.jpg" width="142px" height="92" alt="力克举办2019越南服"></div>
                                    <p class="ptxt">力克举办2019越南服</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.tetimes.com/qiye/20191219/29456.html" target="_blank">
                                    <div class="ppic"><img src="/static/src/images/chineseNew/5_121915592e237.jpg" width="142px" height="92" alt="企鹅杏仁集团构建"></div>
                                    <p class="ptxt">企鹅杏仁集团构建</p>
                                </a>
                            </li>

                        </ul>
                        <ul class="txt_list_d">
                            <li><a href="http://www.tetimes.com/qiye/20191219/29460.html">力克举办2019越南服装智慧生产研讨会，以精益管理推进</a></li>
                            <li><a href="http://www.tetimes.com/qiye/20191219/29456.html">企鹅杏仁集团构建深圳城市模型，全面布局基层医疗</a></li>
                            <li><a href="http://www.tetimes.com/qiye/20191219/29455.html">文殊企业创客论坛暨中国好项目启动仪式在浙江省人民</a></li>
                            <li><a href="http://www.tetimes.com/qiye/20191219/29454.html">全民共识应邀出席2019-2020 WEC世界创业大会</a></li>
                            <li><a href="http://www.tetimes.com/qiye/20191218/29214.html">26年牛排品牌全面转战外卖“红海” 美团外卖四大方案</a></li>

                        </ul>
                    </div>
                </div>
                <div class="r_b" id="r_b_4">
                    <h2 class="r_hd"><strong>社会</strong><a href="/society/" class="more" target="_blank">更多</a></h2>
                    <div class="r_bd" id="hqcj">
                        <ul class="pic_list_142x96">
                            <li>
                                <a href="http://www.tetimes.com/society/20191219/29429.html" target="_blank">
                                    <div class="ppic"><img src="/static/src/images/chineseNew/8_121914322gq0.jpg" width="142px" height="92" alt="广西4条高铁公网升"></div>
                                    <p class="ptxt">广西4条高铁公网升</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.tetimes.com/society/20191219/29362.html" target="_blank">
                                    <div class="ppic"><img src="/static/src/images/chineseNew/8_121z95932l23.jpg" width="142px" height="92" alt="资阳市临空经济区"></div>
                                    <p class="ptxt">资阳市临空经济区</p>
                                </a>
                            </li>

                        </ul>
                        <ul class="txt_list_d">
                            <li><a href="http://www.tetimes.com/society/20191219/29525.html">今年前11个月北京空气质量优良天215天 重污染3天</a></li>
                            <li><a href="http://www.tetimes.com/society/20191219/29491.html">沪苏湖铁路环评获批 线路正线全长163.708公里</a></li>
                            <li><a href="http://www.tetimes.com/society/20191219/29481.html">苏南硕放机场新停机坪计划明年1月30日正式启用 总投资</a></li>
                            <li><a href="http://www.tetimes.com/society/20191219/29475.html">太仓港疏港铁路专用线开工 正线全长约13.1公里</a></li>
                            <li><a href="http://www.tetimes.com/society/20191219/29464.html">连云港市域列车5个客运站现有公交线网布局和配套接驳</a></li>

                        </ul>
                    </div>
                </div>
                <div class="r_b" id="r_b_5">
                    <h2 class="r_hd"><strong>汽车</strong></h2>
                    <div class="r_bd" id="tyly">
                        <ul class="pic_list_142x96">
                            <li>
                                <a href="http://www.tetimes.com/auto/20191219/29452.html" target="_blank">
                                    <div class="ppic"><img src="/static/src/images/chineseNew/8_1219154552h37.jpg" width="142px" height="92" alt="一汽丰田奕泽E擎动"></div>
                                    <p class="ptxt">一汽丰田奕泽E擎动</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.tetimes.com/auto/20191219/29450.html" target="_blank">
                                    <div class="ppic"><img src="/static/src/images/chineseNew/8_1219154459b61.jpg" width="142px" height="92" alt="Jeep自由侠PHEV版明"></div>
                                    <p class="ptxt">Jeep自由侠PHEV版明</p>
                                </a>
                            </li>


                        </ul>
                        <ul class="txt_list_d">
                            <li><a href="http://www.tetimes.com/auto/20191219/29470.html">签下1500台大单！江铃汽车与11家邮政快递企业签订全面</a></li>
                            <li><a href="http://www.tetimes.com/auto/20191219/29452.html">一汽丰田奕泽E擎动力信息曝光 最高车速可达160km/h</a></li>
                            <li><a href="http://www.tetimes.com/auto/20191219/29450.html">Jeep自由侠PHEV版明年上市 最高时速约130.35km/h</a></li>
                            <li><a href="http://www.tetimes.com/auto/20191219/29445.html">法拉利F8 Spider正式上市 共推出一款车型</a></li>
                            <li><a href="http://www.tetimes.com/auto/20191219/29444.html">纳智捷URX正式上市 指导价为14.36万元-15.56万元</a></li>

                        </ul>
                    </div>
                </div>
                <div class="r_b" id="r_b_6">
                    <h2 class="r_hd"><strong>国际</strong><a href="/guoji/" class="more" target="_blank">更多</a></h2>
                    <div class="r_bd" id="artHqsc">
                        <ul class="pic_list_142x96">
                            <li>
                                <a href="http://www.tetimes.com/world/20191218/29323.html" target="_blank">
                                    <div class="ppic"><img src="/static/src/images/chineseNew/8_121r244319120.jpg" width="142px" height="92" alt="北京时间12月18日"></div>
                                    <p class="ptxt">北京时间12月18日</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.tetimes.com/world/20191218/29056.html" target="_blank">
                                    <div class="ppic"><img src="/static/src/images/chineseNew/8_121q1024053d.jpg" width="142px" height="92" alt="北京时间12月18日"></div>
                                    <p class="ptxt">北京时间12月18日</p>
                                </a>
                            </li>

                        </ul>
                        <ul class="txt_list_d">
                            <li><a href="http://www.tetimes.com/world/20191219/29410.html">一架日本全日空波音767客机因引擎故障在日本福冈机场</a></li>
                            <li><a href="http://www.tetimes.com/world/20191218/29323.html">北京时间12月18日20时19分斐济南部海域发生5.3级地震</a></li>
                            <li><a href="http://www.tetimes.com/world/20191218/29056.html">北京时间12月18日9时56分新西兰附近海域发生5.9级地震</a></li>
                            <li><a href="http://www.tetimes.com/world/20191217/28829.html">波音公司“星际客机”将于12月20日首飞 目的地是国际</a></li>
                            <li><a href="http://www.tetimes.com/world/20191217/28716.html">北京时间12月17日10时04分斐济群岛南部海域发生5.1级地</a></li>

                        </ul>
                    </div>
                </div>

            </div>
            <!-- /end 右侧内容 -->
        </div>
    </div>
    <div class="footer">
        <div class="fLink">联系QQ：2437 809 247 特网 </div>
    </div>
    <script>
        (function() {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

</body>

</html>